    #btn{
    	position:absolute;
    }
    #hidden{
    	display: none;
    }
    #hidden{
    	align:center;
    	position: relative;
    	top:30px;
    	margin: 20px;
    	text-align:center;
		border:2px solid #a1a1a1;
		padding:10px 40px; 
		background:Yellow;
		width:400px;
		height:600px;
		border-radius:15px;
		border-color:Red;
		border-width:5px;
		font-family: Comic Sans MS;
  		font-size: 16px;
    	font-weight:bold;
    	color:Pink;
    }